@import "tailwindcss";

@layer base {
  :root {
    --font-syne: "Syne", sans-serif;
    --font-jakarta: "Plus Jakarta Sans", sans-serif;
  }

  body {
    background-color: #000000;
    color: #ffffff;
    font-family: var(--font-jakarta);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-syne);
  }
}

@theme {
  --font-syne: var(--font-syne);
  --font-jakarta: var(--font-jakarta);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}